@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.container-principal{
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 92px;
    padding-top: 107px;
}
header{
    background-color: #CF2B2B;
    width: 414px;
    height: 92px;
    box-sizing: border-box;
    padding-left: 21px;
    margin-bottom: 30px;
    position: fixed;
    top:0;
    left:auto;
    z-index: 1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
header p:nth-child(1) {
    color: #FFFFFF;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}
header p:nth-child(2) {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.pedido{
    width: 414px;
    height: 300px;
    background-color: #e5e5e5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 21px;
    padding-bottom: 15px;
}
.pedido p:first-child{
    color: #333333;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-top: 15px;
    margin-bottom: 17px;
}
.escolhas{
    background-color: #e5e5e5;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pratos img{
    width:144px;
    height: 87px;
    border-radius: 4px;
}
.pratos{
    background-color: #FFFFFF;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    padding: 18px 14px;
    margin-right: 16px;
}
.pratos p:nth-child(2){
    color:#333333;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.pratos p:nth-child(3){
    color:#a6a6a6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}
.pratos p:nth-child(4){
    color:#000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.icone ion-icon {
    color:#ffffff;
    width: 19px;
    height: 19px;
    position: absolute;
    bottom:15px;
    right:13px;
}
.selecionadoB ion-icon,.selecionadoR ion-icon,.selecionadoS ion-icon {
    color:#32B72F;
    width: 19px;
    height: 19px;
    position: absolute;
    bottom:15px;
    right:13px;
}
.selecionadoB,.selecionadoR,.selecionadoS{
    box-shadow: 0 0 0 5px #32B72F inset;
}

footer{
    background-color: white;
    width: 414px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left:auto;
    z-index: 1;
}
button{
    background-color:#cbcbcb;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    color:#FFFFFF;
    border:none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
}
.fecharPedido button{
    background-color: #32B72F;
}
.fecharPedido button:hover{
    background-color: #158013;
    cursor: pointer;
}